<b>@Title</b>
<p>
    Answer A: <button type="button" class="btn btn-primary" @onclick="() => AnswerSelected(QuizAnswer.AnswerA)">@AnswerA</button>
</p>
<p>
    Answer B: <button type="button" class="btn btn-secondary" @onclick="() => AnswerSelected(QuizAnswer.AnswerB)">@AnswerB</button>
</p>

@code {
    [Parameter]
    public string Title { get; set; }
    [Parameter]
    public string AnswerA { get; set; }
    [Parameter]
    public string AnswerB { get; set; }

    [Parameter]
    public EventCallback<QuizAnswer> OnAnswerSelected { get; set; }

    public void AnswerSelected(QuizAnswer answer)
    {
        OnAnswerSelected.InvokeAsync(answer);
    }
}
